.list-container {
  background-color: #242424;
  max-height: 100%;
  min-width: 250px;
  padding: 10px;
  border-radius: var(--border-radius);
  overflow-y: auto;
}

.list-container h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 4px;
  padding: 0 1rem;
}

.list-container > ol {
  padding: 8px 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}
