.list-container {
  background-color: #242424;
  height: fit-content;
  max-height: 100%;
  min-width: 274px;
  padding: 10px;
  border-radius: var(--border-radius);
  overflow-y: auto;
}

.list-container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-container > div span {
  font-size: 2.1rem;
  font-weight: 300;
  cursor: pointer;
}

.list-container h2 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 4px;
  padding: 0 1rem;
}

.list-container-header {
  cursor: pointer;
}

.list-container > ol {
  padding: 8px 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

.list-container > div button {
  background-color: transparent;
  color: var(--color);
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6px;
}

.list-container > div button:first-of-type {
  width: 84%;
}

.list-container > div button:hover {
  background-color: #ffffff28;
}

.list-container > div button div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.list-container > div button div span {
  font-size: 2.2rem;
}

.list-container > div button span {
  font-size: 2rem;
  font-weight: 300;
}
