.profile-list {
  align-items: center;
  display: flex;
  gap: 4px;
}

.profile-list img {
  cursor: pointer;
}

.profile-list img:not(:last-of-type) {
  margin-right: -12px;
}

.profile-list > p {
  font-size: 1.2rem;
  font-weight: 500;
}
